<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicacionrecetario">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionRecetario">
        <activity
            android:name=".vista.webview.VistaWebviewRecetaPostre"
            android:exported="true" />
        <activity
            android:name=".vista.webview.VistaWebviewRecetaEnsalada"
            android:exported="true" />
        <activity
            android:name=".vista.webview.VistaWebviewRecetaPlatoPrincipal"
            android:exported="true" />
        <activity
            android:name=".vista.webview.VistaWebviewRecetaAperitivo"
            android:exported="true" />
        <activity
            android:name=".vista.detallesrecetas.DetallesRecetaPostres"
            android:exported="true" />
        <activity
            android:name=".vista.detallesrecetas.DetallesRecetaPlatoPrincipal"
            android:exported="true" />
        <activity
            android:name=".vista.detallesrecetas.DetallesRecetaEnsaladas"
            android:exported="true" />
        <activity
            android:name=".vista.detallesrecetas.DetallesRecetaAperitivos"
            android:exported="true" />
        <activity
            android:name=".vista.agregarrecetas.VistaAgregarRecetaPostre"
            android:exported="true" />
        <activity
            android:name=".vista.agregarrecetas.VistaAgregarRecetaPlatoPrincipal"
            android:exported="true" />
        <activity
            android:name=".vista.agregarrecetas.VistaAgregarRecetaEnsalada"
            android:exported="true" />
        <activity
            android:name=".vista.agregarrecetas.VistaAgregarRecetaAperitivo"
            android:exported="true" />
        <activity
            android:name=".vista.menurecetas.VistaRecetaPostre"
            android:exported="true" />
        <activity
            android:name=".vista.menurecetas.VistaRecetaPlatoPrincipal"
            android:exported="true" />
        <activity
            android:name=".vista.menurecetas.VistaRecetaEnsalada"
            android:exported="true" />
        <activity
            android:name=".vista.menurecetas.VistaRecetaAperitivo"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>